*{
    margin: 0;
    padding: 0;
}
.topo{
    display: flex;
    align-items: center;
}
.centro{
    max-width: 1024px;
    margin:auto;
}
.topo img{
    width: 4%;
}
.topo h1{
    color: rgb(160, 58, 255);
    text-decoration: none;
    font-weight: normal;
}
.background-formulario{
    background-image: url(assets/imagens/bahia.jpg);
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
}
.secao-formulario{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 1024px;
}
.topo-formulario{
    display: flex;
    flex-direction: row;
    background-color: rgb(160, 58, 255);
    justify-content: center;
}
.topo-formulario img{
    width: 20px;
    padding: 8px;

}
.topo-formulario h3{
    display: flex;
    align-items: center;
}
.titulo-formulario{
    margin: 20px 15px 20px 15px;
}
.estrada-dados-formulario{
    display: flex;
    flex-direction: column;
}
.formulario{
    display: flex;
    flex-direction: column;
}
.formulario label{
    margin: 5px 20px 5px 20px;
}
.formulario input{
    margin: 5px 20px 5px 20px;
    padding: 7px;
}
.entrada-dados-paralelo{
    display: flex;
    flex-wrap: wrap;
}
.secao-formulario-datas{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.formulario-data{
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    width: 50%;
}
.formulario-data label{
    margin: 5px 20px 5px 20px;
    
}
.formulario-data input{
    margin: 5px 20px 5px 20px;
    padding: 7px;
}
.checkbox{
    margin: 10px auto 10px 20px;
}
.formulario-checkbo{
    display: flex;
    flex-wrap: wrap;
}
.formulario-checkbox{
    margin: 15px 50px 15px 0px;
}
button{
    background-color: rgb(160, 58, 255);
    color: white;
    padding: 10px;
    border: none;
    margin: 10px auto 20px 20px;
}
button:hover{
    background-color: rgb(179, 114, 240);
    
}

.container-imagens-titulos{
    margin: 20px auto 20px auto;
}
.container-imagens-titulos p{
    margin-top: 10px;
    font-size: 20px;
}
span{
    font-weight: bold;
}
.container-imagens-cidades{
    display: flex;
    flex-direction: row;

}
.rio-de-janeiro img{
    width: 100%;
}
.cidades img{
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}